<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script>
			function goBack() 
			{
			window.location.href='https://arjunr7.github.io/simpledict/';
			}
		</script>
	</head>

		<body>
		<font color= "white"> 
			{% if flag == 'y' %}
				<h1>Definition</h1>
				<h4>The specified word was not found, the closest match found was <font size="6" color="#FFFF00"> '{{alt_wrd}}' </font> and it's definition is as follows:</h4>
					{% if val == 0 %}
						<p>{{alt_wrd}}</p>
						<ol>
						<li>{{ l[0] }}</li>
						</ol>
					{% else %}
						<p>{{alt_wrd}}</p>
						<ol>
						{% for i in range(0, val) %}
						<li>{{ l[i] }}</li>
						{% endfor %}
						</ol>
					{% endif %} 
			{% else %}
				<h1>Definition</h1>
					{% if val == 0 %}
						<p>{{word}}</p>
						<ol>
						<li>{{ l[0] }}</li>
						</ol>
					{% else %}
						<p>{{word}}</p>
						<ol>
						{% for i in range(0, val) %}
						<li>{{ l[i] }}</li>
						{% endfor %}
						</ol>
					{% endif %} 
			{% endif %}
		</font>
		</body>
			<button onclick='goBack()'>Home</button>
</html>